<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="{{ app.request.locale == 'ar' ? 'rtl' : 'ltr' }}">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="description" content="">
		<meta
		name="keywords" content="">

		<!-- Favicons -->
		<link href="assets/img/favicon.png" rel="icon">
		<link
		href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com" rel="preconnect">
		<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body class="starter-page-page">
		{% include  'header.html.twig' %}
		<main class="main">
			{% include  'navPageTitle.html.twig' %}
{# 			{% include  'banner.html.twig' %}
 #}

			{% block body %}{% endblock %}
		</main>
{# 
		{% include  'footer.html.twig' %} #}

		<!-- Scroll Top -->
		<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
			<i class="bi bi-arrow-up-short"></i>
		</a>

		<!-- Preloader -->
		<div id="preloader"></div>


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>

</html>
